@tailwind base;
@tailwind components;
@tailwind utilities;

.Toastify__toast-container--top-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }
 body {
    background-color: rgb(228 228 231);
    max-width: 672px;
    margin-left: auto;
    margin-right: auto;
 }